<ul class="list-group">
  <li class="list-group-item"><a [routerLink]="['/auth/login']" >Ir a login</a></li>
  <li class="list-group-item"><a [routerLink]="['/auth/registro']" >Ir a registro</a></li>

  <li class="list-group-item"><a [routerLink]="['/heroes/listado']" >Ir a listado</a></li>
  <li class="list-group-item"><a [routerLink]="['/heroes/agregar']" >Ir a agregar</a></li>
  <li class="list-group-item"><a [routerLink]="['/heroes/editar/1']" >Ir a editar</a></li>
  <li class="list-group-item"><a [routerLink]="['/heroes/buscar']" >Ir a buscar</a></li>
  <li class="list-group-item"><a [routerLink]="['/heroes/1']" >Ir a ver heroe</a></li>
</ul>


